.col-md-3.col-sm-6.qua-service-area{
    width: 16.666667%;
    margin-bottom: 0;
}
img.img-responsive {
    opacity:0.7;
    filter:alpha(opacity=40);
    margin-left: 70px;
    heigh: 400px;
    width: 1138px;
}
.logo.pull-left > a > img{
    width: auto;
    height: 100px;
    margin-right: 150px;
}
.hospital-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url('../../images/Hospital.png') 28px 25px no-repeat;
}
.GPO-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/GPO.png) 28px 25px no-repeat;
}
.school-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/School.png) 28px 25px no-repeat;
}
.crime-rate-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/Crime.png) 28px 25px no-repeat;
}
.aged-care-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/AgedCare.png) 28px 25px no-repeat;
}
.health-care-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/HealthCare.png) 28px 25px no-repeat;
}
input[placeholder] {
    color: #19A347;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

.content-area > p {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

.team-title{
    margin: 0px auto 25px !important;
}

.parallax-window {
    min-height: 280px;
    background: transparent;
}

.titanium-nav{
    border: 0px !important;
}

.logo > img {
    width: 133px;
    height: auto;
}
@media (min-width: 768px) {
    .titnium-menu-nav{
        float: right !important;
    }
}

.slider-input {
    height: 300px;
}

.flex-slider-center {
    margin-top: 280px;
    top: 0px;
    position: absolute;
}
.slider-input > div.parallax-window {
    position: static;
}
section.row.profiles {
    width: 90%;
    margin: 0 0 0 0;
}
.col-sm-6.profile {
    width: 49%;
}

.property-photo {
    width: 30%;
    height: auto;
}
.property-photo > img {
    float: left;
    width: auto;
    height: 200px;
    margin-left: 10%;
}
.address {
    width: inherit;
    height: 100%;
    margin-left: 5%;
}
.address > .icon-row {
    width: 75%;
    height: 80px;
    margin-top: 30px;
    margin-left: 20%;
    position: relative;
}
.property-icon {
    width: 25%;
    height: 80px;
    text-align: center;
    float: left;
}

.property-icon > h3 {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}
#community-container .details {
    display: none;
}
.row {
    margin-top: 1%;
}
.hexagon-box-small:hover {
    background: url(../../../quality/images/property-green.png) no-repeat center;
}
.window-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/window.png) no-repeat center;
}
.water-tank-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/water-tank.png) no-repeat center;
}
.air-conditioner-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/air-conditioner.png) no-repeat center;
}
.skylight-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/skylight.png) no-repeat center;
}
.thermostats-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/thermostats.png) no-repeat center;
}
.energy-saver-system-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/energy-saver-system.png) no-repeat center;
}
.external-shading-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/external-shading.png) no-repeat center;
}
.nathers-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/nathers.png) no-repeat center;
}
.container.qua_heading_title {
    border-top: solid lightgrey 2px;
    padding-top: 2%;
    height: auto;
}



@media (max-width: 414px) {
    .address{
        width:100%;
    }
    .property-photo{
        width:100%;
        diaplay:block;
        float:left;
    }
    .property-icon{
        width:100%;
        margin:10px 10px 50px -120px;
        float:left;
        background:left;
    }
    .property-info{
        width:100%;
        height: 1400px;
    }
    .icon-row{
        width:100%;
    }


}

