.col-md-3.col-sm-6.qua-service-area{
    width: 16.666667%;
    margin-bottom: 0;
}
img.img-responsive {
    opacity:0.7;
    filter:alpha(opacity=40);
    margin-left: 70px;
    height: 400px;
    width: 1138px;
}
.logo.pull-left > a > img{
    width: auto;
    height: 80px;
    margin-right: 150px;
}
.navbar.navbar-default.titanium-nav {
    padding-bottom: 5px;
}
.carousel {
    margin-bottom: 0 !important;
}
.qua_heading_title {
    margin-bottom: 10px !important;
}
.container.container-blog {
    margin-top: 0 !important;
}
.hospital-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url('../../images/Hospital.png') 28px 25px no-repeat;
}
.GPO-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/GPO.png) 28px 25px no-repeat;
}
.school-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/School.png) 28px 25px no-repeat;
}
.crime-rate-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/Crime.png) 28px 25px no-repeat;
}
.aged-care-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/AgedCare.png) 28px 25px no-repeat;
}
.health-care-icon {
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    display:block;
    background: url(../../images/HealthCare.png) 28px 25px no-repeat;
}
input[placeholder] {
    color: #19A347;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

.content-area > p {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

.team-title{
    margin: 0px auto 25px !important;
}

.parallax-window {
    min-height: 280px;
    background: transparent;
}

.titanium-nav{
    border: 0px !important;
}
.navbar {
    margin-bottom: 0 !important;
}

.logo > img {
    width: 133px;
    height: auto;
}
@media (min-width: 768px) {
    .titanium-menu-nav{
        float: right !important;
    }
}

.slider-input {
    height: 300px;
}

.flex-slider-center {
    margin-top: -13%;
    top: 0px;
    position: relative;
}
.slider-input > div.parallax-window {
    position: static;
}
section.row.profiles {
    width: 90%;
    margin: 0 0 0 0;
}
.col-sm-6.profile {
    width: 49%;
}

.property-photo {
    width: 20%;
    height: auto;
    float: left;
}
#house {
    float: left;
    width: 204px;
    height: 200px;
    border: 4px #848080 solid;
    border-radius: 10px;
}
#verified {
    width: 200px;
    height: auto;
    margin-left: -6%;
    margin-top: -55px;
    position: absolute;
    display: none;
}
#unverified {
    width: 200px;
    height: auto;
    margin-left: -6%;
    margin-top: -55px;
    position: absolute;
    display: none;
}
.address {
    width: 90%;
    height: 100%;
    margin-left: 5%;
}
.address > .icon-row {
    height: 80px;
    margin-top: 30px;
    margin-left: 210px;
    vertical-align: top !important;
}
.property-icon {
    width: 20%;
    height: 80px;
    text-align: center;
    float: left;
    position: relative;
}

.property-icon > h3 {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}
#community-container .details {
    display: none;
}
.property-info {
    margin-bottom: 40px;
}
.property-info .details{
    display: none;
}
.row {
    margin-top: 1%;
}
.hexagon-box-small:hover {
    background: url(../../../quality/images/property-green.png) no-repeat center;
}
.window-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/window.png) no-repeat center;
}
.heater-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/heater.png) no-repeat center;
}
.solar-water-heating-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/solar-water-heating.png) no-repeat center;
}
.water-tank-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/water-tank.png) no-repeat center;
}
.air-conditioner-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/air-conditioner.png) no-repeat center;
}
.skylight-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/skylight.png) no-repeat center;
}
.thermostats-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/thermostats.png) no-repeat center;
}
.energy-saver-system-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/energy-saver-system.png) no-repeat center;
}
.external-shading-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/external-shading.png) no-repeat center;
}
.nathers-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/nathers.png) no-repeat center;
}

.heater-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/heater-grey.png) no-repeat center;
}
.solar-water-heating-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/solar-water-heating-grey.png) no-repeat center;
}
.water-tank-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/water-tank-grey.png) no-repeat center;
}
.air-conditioner-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/air-conditioner-grey.png) no-repeat center;
}
.skylight-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/skylight-grey.png) no-repeat center;
}
.thermostats-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/thermostats-grey.png) no-repeat center;
}
.energy-saver-system-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/energy-saver-system-grey.png) no-repeat center;
}
.external-shading-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/external-shading-grey.png) no-repeat center;
}
.nathers-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/nathers-grey.png) no-repeat center;
}

#community-container.container.qua_heading_title {
    height: auto;
}
.community.qua_heading_title {
    margin-bottom: 0;
}
#menu-home {
    z-index:10;
    position:relative;
}
.property-info.qua_heading_title.container{
    height: 330px;
    border-bottom: solid lightgrey 3px;
    margin-bottom: 0 !important;
}

@media (max-width: 414px) {
    .address{
        width:100%;
    }
    #verified {
        margin-left: -80px;
    }
    #unverified {
        margin-left: -80px;
    }
    .property-photo{
        width:100%;
        float:left;
        margin-left:65px;
    }
    .property-icon{
        width:100% ;
        margin-top: 30px;
        float: left;
    }
    .property-info{
        width:100%;
        height: 1450px;
    }
    .icon-row {
        height: 420px;
        margin-left: -40px !important;
    }
    @media (max-width: 769px) {
        .property-icon > h3{
            font-size: 15px !important;
        }
    }

    .col-md-3.col-sm-6.qua-service-area{
        width: 100%;
        margin-bottom: 0;
        float:left;
        background:left;
    }
}

.qtip-content {
    font-size: 14px !important;
    line-height: 1.4em !important;
}

.qtip-title{

    font-size: 15px !important;
    line-height: 1.4em !important;
}

@media (max-width: 414px) {
    .autocomplete-suggestion{
        font-size:12px;
    }
    input.form-control{
        font-size:12px;
    }
    .flex-slider-center {
        margin-top: -40%;
        position: relative;
    }
    .parallax-window {
        position: inherit;
    }

}

.user-login-dashboard ~ ul {
    margin-top: 15px !important;
    padding-top: 0;
    margin-left: 10px;
    height: 60px;
    min-width: 126px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.user-login-dashboard ~ ul > li {
    text-align: center;
}
.user-login-dashboard ~ ul > li > a {
    margin-bottom: 0 !important;
    width: 126px;
}

.user-login-dashboard ~ ul > li > a:hover {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.titanium-property-alert {
    display: none;
    width: 810px !important;
    text-align: center;
}
.suggest-property-title {
    margin-top: 5px;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 18px;
    text-align: center;
}
.website-features {
    height: 200px;
    width: 90%;
    margin-top: -10px;
    margin-left: 5%;
}
.website-feature-content {
    width: 33.3333333%;
    float: left;

}

.website-feature-title > h4 {
    width: 100%;
    text-align: center;
    font-size: large;
    color: #19A347;
}
.website-feature-title >img{
    margin-left:39%;
}
.website-feature-text {
        float: left;
        width: 80%;
    margin-left: 10%;
    text-align: center;
    padding-left:40px;
    padding-right:40px;
}

@media (max-width: 1024px) {
 .website-feature-text {
     float: left;
     width: 200px;
     padding:0 0 0 0;
     margin-left:20%;
 }
    .website-feature-title > h4 {
        width: 100%;
        text-align: center;
        margin-left:10px;

}}
@media (max-width: 768px)
{
        .website-feature-text {
            font-size:12px;
            width:150px;
        }
        .website-feature-title > h4 {
            font-size:14px;

        }
}

    @media (max-width: 500px) {
        .website-feature-content {
            width: 100%;

        }

        .website-feature-text {
            padding: 0 0 0 0;
            width:200px;
            margin-left:25%;
        }

        .website-feature-title > h4 {
            width: 100%;
            text-align: center;
            margin-left: 10px;

        }
    }


/*
.suggested-house {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.col-md-4.col-sm-6.suggest {
     display: block;
     position: relative;
     height: 250px;
     float: left;
     overflow: hidden;
     padding-left:2px;
     padding-right:2px;

 }
.suggested-property-item-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}

.suggested-property-item-link:hover {
    background: rgba(0,0,0,0);
}

.suggested-property-address{
    color: #ffffff;
}*/


.suggested-house {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.col-md-4.col-sm-6.suggest {
    display: block;
    position: relative;
    height: 250px;
    float: left;
    overflow: hidden;
    padding-left:2px;
    padding-right:2px;

}
.suggested-property-item-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.suggested-property-info {
    margin-top: 100px;
    text-align: center;
}

.suggested-property-item-link:hover {
    background: rgba(0,0,0,0);
}

.suggested-property-address{
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 18px;
    color: #ffffff;
    position: relative;
}
.suggested-property-air-conditioner-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-air-conditioner-green.png) no-repeat center;
}
.suggested-property-heater-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-heater-green.png) no-repeat center;
}
.suggested-property-water-tank-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-water-tank-green.png) no-repeat center;
}
.suggested-property-certification-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-certification-green.png) no-repeat center;
}
.suggested-property-air-conditioner-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-air-conditioner-gray.png) no-repeat center;
}
.suggested-property-heater-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-heater-gray.png) no-repeat center;
}
.suggested-property-water-tank-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-water-tank-gray.png) no-repeat center;
}
.suggested-property-certification-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-certification-gray.png) no-repeat center;
}
.suggested-property-row {
    width: 100%;
    margin-top: 30px;
}
.suggested-property-row-item {
    
    width: 25% !important;
    margin-left: 0 !important;
    float: left;
}
@media (max-width: 414px) {
    .suggest{
        width:100%!important;
        margin-left:0 !important;
        padding-left: 0 !important;
    }

}
@media (max-width: 998px) {
    .suggest{
        width:60%;
        margin-left: 20%;
        margin-bottom: 5px;
    }
    .suggested-house{
        height: 900px !important;
    }
}


#latest {
    height: 300px;
}

.latest-house {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}


.col-md-4.col-sm-6.latest-property {
    display: block;
    height: 250px;
    float: left;
    position: relative;
    overflow: hidden;
    padding-left:2px;
    padding-right:2px;

}
.latest-property-item-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.latest-property-info {
    margin-top: 100px;
    text-align: center;
}

.latest-property-item-link:hover {
    background: rgba(0,0,0,0);
}

.latest-property-address{
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 18px;
    color: #ffffff;
    position: relative;
}
.latest-property-air-conditioner-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-air-conditioner-green.png) no-repeat center;
}
.latest-property-heater-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-heater-green.png) no-repeat center;
}
.latest-property-water-tank-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-water-tank-green.png) no-repeat center;
}
.latest-property-certification-icon {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-certification-green.png) no-repeat center;
}
.latest-property-air-conditioner-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-air-conditioner-gray.png) no-repeat center;
}
.latest-property-heater-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-heater-gray.png) no-repeat center;
}
.latest-property-water-tank-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-water-tank-gray.png) no-repeat center;
}
.latest-property-certification-icon-grey {
    background-size: 100% 100%;
    height: 80px;
    width: 50%;
    margin-left: 25%;
    display:block;
    background: url(../../../quality/images/small-certification-gray.png) no-repeat center;
}
.latest-property-row {
    width: 100%;
    margin-top: 30px;
}
.latest-property-row-item {
    margin: 0 0 0 0;
    width: 25%;
    float: left;
}
@media (max-width: 414px) {
    .latest-property{
        width:100%!important;
        margin-left:0 !important;
        padding-left: 0 !important;
    }
    .col-md-4.col-sm-6.titanium-blog {
        width: 100% !important;
        float: left;
        height: auto;
    }
}
@media (max-width: 998px) {
    .latest-property{
        width:60%;
        margin-left: 20%;
        margin-bottom: 5px;
    }
    #latest {
        height: 900px !important;
    }
}

.container.container-blog.titanium-blog-container{
    padding-top:15px;
    position: relative;
}
.blog-image {
    border-bottom: none!important;
    height: 150px!important;
    width: 200px!important;
    float: left!important;
    margin-left:0!important;
    padding-right:5px!important;
}
.titanium-blog {
    width: 50% !important;
    float: left;
}
.energy-blog-area {
    padding-bottom: 20px;
    height:auto;
    margin-bottom: 20px;
}
.energy-blog-area > .qua-blog-info > h2 {
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.titanium-footer-copyright{
    color: #ffffff;
}
.titanium-footer-menu{
    text-align: center;
}

.titanium-footer-mernu-list{
    list-style-type: none;
    /*color: #19A347;*/
    font-size: 17px;
}

.titanium-social-media-list li{
    display: inline;
}
.titanium-footer-socialmedia{
    text-align: right;
    margin-top: 28px;
}

.titanium-social-media-list img{
    height: 46px;
}
.titanium-about-title{
    font-size:40px;
    text-align:center;
}
.titanium-about-text{
    text-align:justify;
    margin-bottom:40px;
}

.titnium-menu-nav{
    float: right !important;
}